<div class="container">
  <h1>Kursy Walut NBP </h1>

  <div class="actions-panel">
    <button class="btn-primary" (click)="fetchFromNbp()" [disabled]="isLoading">
       Pobierz najnowsze kursy z NBP
    </button>
  </div>

  <div class="filter-panel">
    <label for="dateFilter">Wybierz datę (Dzień/Miesiąc/Rok): </label>
    <input type="date" id="dateFilter" [(ngModel)]="selectedDate">
    <button class="btn-secondary" (click)="filterByDate()">Szukaj</button>
    <button class="btn-secondary" (click)="selectedDate = ''; filterByDate()">Pokaż wszystkie</button>
  </div>

  <p *ngIf="message" class="message-alert">{{ message }}</p>
  <p *ngIf="isLoading" class="loading"> Przetwarzanie...</p>

  <table *ngIf="currencies.length > 0">
    <thead>
      <tr>
        <th>Kod waluty</th>
        <th>Nazwa</th>
        <th>Średni kurs (PLN)</th>
        <th>Data publikacji</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rate of currencies">
        <td><strong>{{ rate.currency_code }}</strong></td>
        <td>{{ rate.currency_name }}</td>
        <td>{{ rate.average_rate }} zł</td>
        <td>{{ rate.date }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="currencies.length === 0 && !isLoading" class="loading">Brak danych w bazie. Kliknij przycisk pobierania powyżej.</p>
</div>